---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-size: 14px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply max-w-full dark:text-white dark:bg-neutral-900;
}

a {
  @apply hover:underline;
}

.markdown {
  @apply dark:text-gray-200;
}

.markdown p {
  @apply py-3;
}

.markdown h1 {
  @apply mt-8 text-xl font-semibold;
}

.markdown h2 {
  @apply mt-8 text-lg font-semibold;
}

.markdown h3 {
  @apply mt-8 font-bold;
}

.markdown ol {
  @apply pl-4 list-decimal;
}

.markdown ul {
  @apply pl-5 list-disc;
}

.markdown li {
  @apply my-2;
}

.markdown blockquote {
  @apply pl-4 italic border-l-2 dark:border-neutral-600;
}

.markdown .highlighter-rouge {
  @apply max-w-full pt-0 pb-0 font-medium bg-transparent text-amber-600;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.markdown .highlight {
  @apply max-w-full text-xs text-gray-800 rounded-lg;
  padding: 0 !important;
}

code {
  @apply max-w-full my-8 rounded-lg;
}

.highlighter-rouge {
  overflow: auto;
}
