---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}


@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  @apply max-w-full dark:text-neutral-300 dark:bg-bg;
}

a {
  @apply hover:underline text-blue-500;
}

.markdown {
  /* @apply dark:text-gray-300; */
}

.markdown a {
  /* @apply underline text-blue-500; */
}

.markdown p {
  @apply py-3;
}

.markdown h1 {
  @apply mt-8 text-xl font-semibold;
}

.markdown h2 {
  @apply mt-8 text-lg font-semibold;
}

.markdown h3 {
  @apply mt-8 font-bold;
}

.markdown ol {
  @apply pl-4 list-decimal;
}

.markdown ul {
  @apply pl-5 list-disc;
}

.markdown li {
  @apply my-2;
}

.markdown blockquote {
  @apply pl-4 italic border-l-2 dark:border-neutral-600 my-2;
}

.markdown .language-plaintext {
  @apply px-1 rounded dark:text-white border dark:border-neutral-800 bg-gray-100 dark:bg-gray-900 text-sm;
}

.hljs {
  @apply rounded-lg text-xs border dark:border-neutral-800;
  padding: 0.8rem 1rem !important;
}
