---
layout: default
---

<div class="w-full md:w-600 px-6 md:px-0">
  <img
    src="{{site.baseurl}}/assets/profile.jpeg"
    class="h-56 w-full object-cover mt-20 mb-12 rounded-lg"
  />
</div>

<div class="w-full md:w-600 px-6 md:px-0">
  <p>
    I'm <span class="font-medium tracking-wide">Oscar</span>, System's Engineer
    in Munich, previously CTO/Tech Lead. I have several projects you should
    check out below.
    <br />
    <br />
    I'm available for freelance/consulting work, reach me via
    <a href="mailto://ospfranco@protonmail.com">email.</a>
  </p>
</div>
<!-- <h2 class="font-medium tracking-wide dark:text-white pt-10 pb-4 px-6 md:px-0">
  Projects
</h2> -->
<div
  class="flex overflow-x-scroll scrollbar-hide px-6 md:px-0 w-full py-2 my-6"
>
  <div
    class="
      flex-shrink-0
      w-96
      mr-4
      transition
      duration
      transform
      hover:scale-105
    "
  >
    <a href="https://www.raycast.com/ospfranco/translate">
      <div class="">
        <img
          src="{{site.baseurl}}/assets/google_raycast.jpeg"
          class="object-cover h-48 w-full rounded-lg"
        />
        <div class="tracking-wide pt-2">Raycast Google Translate</div>
      </div>
    </a>
  </div>

  <div
    class="
      flex-shrink-0
      w-96
      mx-4
      transition
      duration
      transform
      hover:scale-105
    "
  >
    <a href="https://cidemon.com">
      <div class="">
        <img
          src="{{site.baseurl}}/assets/cidemon.webp"
          class="object-cover h-48 w-full rounded-lg"
        />
        <div class="tracking-wide pt-2">CI Demon, menu bar CI monitor</div>
      </div>
    </a>
  </div>

  <div
    class="
      flex-shrink-0
      w-96
      mx-4
      transition
      duration
      transform
      hover:scale-105
    "
  >
    <a href="https://messerapp.cc">
      <div class="">
        <img
          src="{{site.baseurl}}/assets/messer.webp"
          class="object-cover h-48 w-full rounded-lg"
        />
        <div class="tracking-wide pt-2">
          Messer, menu bar image manipulation
        </div>
      </div>
    </a>
  </div>

  <div
    class="
      flex-shrink-0
      w-96
      mx-4
      transition
      duration
      transform
      hover:scale-105
    "
  >
    <a href="https://www.newline.co/courses/building-react-native-apps-for-mac">
      <div class="">
        <img
          src="{{site.baseurl}}/assets/buildingapps.webp"
          class="object-cover h-48 w-full rounded-lg"
        />
        <div class="tracking-wide pt-2">RN MacOS Couse</div>
      </div>
    </a>
  </div>

  <div
    class="
      flex-shrink-0
      w-96
      mx-4
      transition
      duration
      transform
      hover:scale-105
    "
  >
    <a
      href="https://www.youtube.com/playlist?list=PLanS_SVm5swgrFrqo-NTITZxud4KRmZgB"
    >
      <div class="">
        <img
          src="{{site.baseurl}}/assets/cxx.webp"
          class="object-cover h-48 w-full rounded-lg"
        />
        <div class="tracking-wide pt-2">C++ for JS Developers</div>
      </div>
    </a>
  </div>

  <div
    class="
      flex-shrink-0
      w-96
      mx-4
      transition
      duration
      transform
      hover:scale-105
    "
  >
    <a
      href="https://www.youtube.com/playlist?list=PLanS_SVm5swimC_m5zWfly0EPJTk7Tsp8"
    >
      <div class="">
        <img
          src="{{site.baseurl}}/assets/jsi_explained.webp"
          class="object-cover h-48 w-full rounded-lg"
        />
        <div class="tracking-wide pt-2">RN JSI Explained</div>
      </div>
    </a>
  </div>

  <div
    class="
      flex-shrink-0
      w-96
      mx-4
      transition
      duration
      transform
      hover:scale-105
    "
  >
    <a
      href="https://apps.apple.com/tt/app/tp-latino/id1483823093?ign-mpt=uo%3D2"
    >
      <div class="">
        <img
          src="{{site.baseurl}}/assets/tplatino.webp"
          class="object-cover h-48 w-full rounded-lg"
        />
        <div class="tracking-wide pt-2">TP Latino, south america pilot app</div>
      </div>
    </a>
  </div>

  <div class="w-1/2 flex-shrink-0"></div>
</div>

<!-- <h2 class="font-medium tracking-wide dark:text-white pt-10 pb-4 px-6 md:px-0">
  Notes
</h2> -->

<div class="w-full md:w-600 px-6 md:px-0">
  {% assign postsByMonthYear = site.posts | group_by_exp:"post", "post.date |
  date: '%b %Y'" %} {% for month in postsByMonthYear %}
  <div class="py-2 flex gap-4">
    <div
      class="text-gray-500 dark:text-gray-300 flex-shrink-0 w-16 text-xs pt-2"
    >
      {{ month.name }}
    </div>
    <div>
      {% for post in month.items %}
      <div class="py-1"><a href="{{ post.url }}">{{ post.title }}</a></div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
