<footer class="flex gap-3 w-full px-6 pt-10 pb-4 md:px-0">
  <!-- <h2 class="px-6 pt-10 pb-2 font-medium tracking-wide dark:text-white md:px-0">
    Contact
  </h2> -->

  <a
    class="text-sm font-normal no-underline"
    href="mailto:ospfranco@protonmail.com"
    >Email</a
  >
  <a
    class="text-sm font-normal no-underline"
    href="https://github.com/ospfranco"
    >Github</a
  >
  <a
    class="text-sm font-normal no-underline"
    href="https://twitter.com/ospfranco"
    >Twitter</a
  >
  <a
    class="text-sm font-normal no-underline"
    href="https://youtube.com/ospfranco"
    >Youtube</a
  >
  <a
    class="text-sm font-normal no-underline"
    href="https://www.linkedin.com/in/⚡%EF%B8%8F-oscar-franco-bbbb7319b/"
    >LinkedIn</a
  >
</footer>
