<footer class="w-full px-6 pt-10 pb-4 md:px-0">
  <!-- <h2 class="px-6 pt-10 pb-2 font-medium tracking-wide dark:text-white md:px-0">
    Contact
  </h2> -->

  <div class="flex gap-4 text-sm dark:text-gray-400">
    <a class="font-normal" href="mailto:ospfranco@protonmail.com">Email</a>
    <a class="font-normal" href="https://github.com/ospfranco">Github</a>
    <a class="font-normal" href="https://twitter.com/ospfranco">Twitter</a>
    <a class="font-normal" href="https://youtube.com/ospfranco">Youtube</a>
    <a
      class="font-normal"
      href="https://www.linkedin.com/in/⚡%EF%B8%8F-oscar-franco-bbbb7319b/"
      >LinkedIn</a
    >
  </div>
</footer>
