<footer class="flex gap-12 w-full p-6 justify-center bg-black text-white">
  <a
    class="text-xs font-normal no-underline"
    href="mailto:ospfranco@protonmail.com"
    target="_blank"
    >Email</a
  >

  <a
    class="text-xs font-normal no-underline"
    href="https://github.com/ospfranco"
    target="_blank"
    >Github</a
  >

  <a
    class="text-xs font-normal no-underline"
    href="https://twitter.com/ospfranco"
    target="_blank"
    >Twitter</a
  >

  <a
    class="text-xs font-normal no-underline"
    href="https://youtube.com/ospfranco"
    target="_blank"
    >Youtube</a
  >

  <a
    class="text-xs font-normal no-underline"
    href="https://www.linkedin.com/in/⚡%EF%B8%8F-oscar-franco-bbbb7319b/"
    target="_blank"
    >LinkedIn</a
  >
</footer>
