<header
  class="w-full flex justify-center pt-4 pb-4 bg-white dark:bg-black fixed top-0 border-b border-gray-100 dark:border-neutral-800"
>
  <div class="w-full max-w-3xl flex items-center gap-2 px-4">
    <a href="/" class="font-semibold flex-1 text-black dark:text-white">Oscar Franco</a>

    <div class="h-2 w-2 rounded-full bg-green-400 animate-pulse"></div>
    <a href="mailto:ospfranco@gmail.com"
    target="_blank" class="text-sm">
      Available for freelance work
    </a>
  </div>
</header>