<div class="flex items-center">
  <img
    src="{{site.baseurl}}/assets/oscar.jpg"
    class="h-20 w-20 rounded-full object-cover self-center"
  />
  <div class="px-8">
    <div class="text-2xl font-medium">Oscar Franco</div>
    <!-- <div class="flex dark:hidden">
      <a
        class="pr-2 self-center"
        href="https://github.com/ospfranco?tab=followers"
      >
        <img
          src="https://img.shields.io/github/followers/ospfranco?label= &style=flat-square&logo=github&color=fff&logoColor=000"
        />
      </a>
      <a class="pr-2" href="https://twitter.com/ospfranco">
        <img
          src="https://img.shields.io/twitter/follow/ospfranco?label= &style=flat-square&logo=twitter&color=fff"
        />
      </a>
      <a
        class=""
        href="https://www.youtube.com/channel/UCHxMuqeVlkDgKG5cs99FH2Q"
      >
        <img
          src="https://img.shields.io/youtube/channel/subscribers/UCHxMuqeVlkDgKG5cs99FH2Q?label= &style=flat-square&logo=youtube&color=fff&logoColor=FF0000"
        />
      </a>
    </div>

    <div class="invisible dark:visible flex">
      <a
        class="pr-2 self-center"
        href="https://github.com/ospfranco?tab=followers"
      >
        <img
          src="https://img.shields.io/github/followers/ospfranco?label= &style=flat-square&logo=github&color=000"
        />
      </a>
      <a class="px-2 self-center" href="https://twitter.com/ospfranco">
        <img
          src="https://img.shields.io/twitter/follow/ospfranco?label= &style=flat-square&logo=twitter&color=000"
        />
      </a>
      <a
        class="px-2 self-center"
        href="https://www.youtube.com/channel/UCHxMuqeVlkDgKG5cs99FH2Q"
      >
        <img
          src="https://img.shields.io/youtube/channel/subscribers/UCHxMuqeVlkDgKG5cs99FH2Q?label= &style=flat-square&logo=youtube&color=000&logoColor=FF0000"
        />
      </a>
    </div> -->
  </div>
</div>
