<img
  src="{{site.baseurl}}/assets/profile.webp"
  class="h-24 w-24 md:h-36 md:w-36 rounded-full object-cover self-center"
/>
<div class="text-xl self-center font-medium pt-4">Oscar Franco</div>
<div class="flex self-center dark:hidden">
  <a class="p-2 self-center" href="https://github.com/ospfranco?tab=followers">
    <img
      src="https://img.shields.io/github/followers/ospfranco?label= &style=flat-square&logo=github&color=fff&logoColor=000"
    />
  </a>
  <a class="p-2 self-center" href="https://twitter.com/ospfranco">
    <img
      src="https://img.shields.io/twitter/follow/ospfranco?label= &style=flat-square&logo=twitter&color=fff"
    />
  </a>
  <a
    class="p-2 self-center"
    href="https://www.youtube.com/channel/UCHxMuqeVlkDgKG5cs99FH2Q"
  >
    <img
      src="https://img.shields.io/youtube/channel/subscribers/UCHxMuqeVlkDgKG5cs99FH2Q?label= &style=flat-square&logo=youtube&color=fff&logoColor=FF0000"
    />
  </a>
</div>

<div class="invisible self-center dark:visible flex">
  <a class="p-2 self-center" href="https://github.com/ospfranco?tab=followers">
    <img
      src="https://img.shields.io/github/followers/ospfranco?label= &style=flat-square&logo=github&color=000"
    />
  </a>
  <a class="p-2 self-center" href="https://twitter.com/ospfranco">
    <img
      src="https://img.shields.io/twitter/follow/ospfranco?label= &style=flat-square&logo=twitter&color=000"
    />
  </a>
  <a
    class="p-2 self-center"
    href="https://www.youtube.com/channel/UCHxMuqeVlkDgKG5cs99FH2Q"
  >
    <img
      src="https://img.shields.io/youtube/channel/subscribers/UCHxMuqeVlkDgKG5cs99FH2Q?label= &style=flat-square&logo=youtube&color=000&logoColor=FF0000"
    />
  </a>
</div>
