<div class="my-8">
  <h2 class="text-2xl font-semibold p-4">My Projects</h2>
  <div class="flex flex-wrap align-center justify-center">
    <a href="https://tempomat.dev">
      <div class="w-64 rounded justify-center items-center flex flex-col flex-center m-4 hover:bg-blue-200 transition duration-500 border p-4">
        <img
          src="{{ site.url }}/assets/Tempomat.png"
          class="h-16 w-16 object-cover"
        />
        <div class="font-semibold">
          Tempomat
        </div>
        <div class="text-sm text-center">
          iOS/macOS app for CI Monitoring (OpenSource)
        </div>
      </div>
    </a>
  
    <a href="https://apps.apple.com/tt/app/tp-latino/id1483823093?ign-mpt=uo%3D2">
      <div class="w-64 rounded justify-center items-center flex flex-col flex-center m-4 hover:bg-blue-200 transition duration-500 border p-4">
        <img
          src="{{ site.url }}/assets/TPLatino.png"
          class="h-16 w-16 object-cover"
        />
        <div class="font-semibold">
          TPLatino
        </div>
        <div class="text-sm text-center">
          iOS/Android App for South America Pilot Training
        </div>
      </div>
    </a>
  
    <a href="https://github.com/ospfranco/link-preview-js">
      <div class="w-64 rounded justify-center items-center flex flex-col flex-center m-4 hover:bg-blue-200 transition duration-500 border p-4">
        <div class="font-semibold">
          link-preview-js
        </div>
        <div class="text-sm text-center">
          JS library for fetching link previews (OpenSource)
        </div>
      </div>
    </a>

    <a href="https://github.com/ospfranco/SUITextView">
      <div class="w-64 rounded justify-center items-center flex flex-col flex-center m-4 hover:bg-blue-200 transition duration-500 border p-4">
        <div class="font-semibold">
          SUITextView
        </div>
        <div class="text-sm text-center">
          The text view component apple forgot on macOS SwiftUI (OpenSource)
        </div>
      </div>
    </a>
    <a href="https://github.com/ospfranco/react-native-macos-menubar-template">
      <div class="w-64 rounded justify-center items-center flex flex-col flex-center m-4 hover:bg-blue-200 transition duration-500 border p-4">
        <div class="font-semibold text-center">
          react-native-macos-menubar-template
        </div>
        <div class="text-sm text-center">
          RN macOS starter for a menu bar app (OpenSource)
        </div>
      </div>
    </a>
  </div>
</div>
