<div class="p-8 w-full xl:flex-1 xl:h-full overflow-y-auto bg-gray-800">
  <a
  class="flex items-center"
  href="/"
  >
    <img src="{{site.baseurl}}/assets/profile.webp" class="rounded-full h-16" />
    <h2 class="text-white text-3xl ml-2">Oscar Franco</h2>
  </a>

  <!-- <div class="flex justify-center my-2">
    <a
      class="pr-4"
      href="https://twitter.com/ospfranco"
    >
      <img src="{{site.baseurl}}/assets/twitter.png" class="h-8">
    </a>
    <a
      href="https://github.com/ospfranco"
    >
      <img src="{{site.baseurl}}/assets/github.png" class="h-8">
    </a>
  </div> -->

  <p class="text-white mt-4">System's Engineer from Bolivia. I write about technical topics and create developer tools.</p>
  
  <p class="text-white mt-6 text-xl pt-2 mb-6 border-t border-gray-400">My Projects</p>
  
  
  <div>
    <a href="https://apps.apple.com/de/app/ci-demon/id1560355863?l=en&mt=12" onclick="dataLayer.push({'event': 'cidemon-click'});">
      <img src="{{site.baseurl}}/assets/small_ci_demon.jpg" class="h-64" />
      <div class="flex w-full items-center">
        <div class="overflow-hidden py-3">
          <div class="text-blue-500 text-sm">CI Demon</div>
          <div class="text-gray-200 text-sm">
            CI/CD on your Dekstop.
          </div>
          <a href="https://www.producthunt.com/posts/ci-demon?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-ci-demon" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=290593&theme=light" alt="CI Demon - Continuous integration builds in your desktop. | Product Hunt" style="width: 120px; height: 40px;" width="120" height="40" /></a>
        </div>
      </div>
    </a>

    <!-- <a href="https://apps.apple.com/de/app/tp-latino/id1483823093">
      <div class="flex w-full items-center">
        <div class=" overflow-hidden py-3">
            <div class="text-blue-500 text-sm">Test Prep Latino</div>
            <div class="text-gray-200 text-sm">
              Practice for South-American flight pilot exams.
            </div>  
        </div>
      </div>
    </a> -->

    <a href="https://github.com/ospfranco/react-native-quick-sqlite">
      <div class="flex w-full items-center">
        <div class="overflow-hidden py-3">
          <div class="text-blue-500 text-sm">react-native-sqlite</div>
          <div class="text-gray-200 text-sm">
            SQLite for react-native (with JSI bindings), the fastest sqlite library for react-native.
          </div>
        </div>
      </div>
    </a>

  </div>
</div>
