<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{site.baseurl}}/assets/favicon.ico"
  />
  {% feed_meta %} {% seo %}
  <link rel="stylesheet" href="/css/site.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap"
    rel="stylesheet"
  />
</head>

<!-- <html class="max-h-full bg-coolGray-50 dark:bg-bgGray"> -->
<html class="max-h-full bg-white dark:bg-black">
  <body class="max-h-full flex flex-col items-center">
    {{ content }}
  </body>
</html>
