<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/favicon.ico"/>
  {% include analytics.html %}
  {% feed_meta %} 
  {% seo %}
  <link rel="stylesheet" href="/css/site.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>

  <script>hljs.initHighlightingOnLoad();</script>
</head>
<html>
  <body>
    <div class="flex justify-center pt-16 pb-4">
      <div class="w-full lg:w-2/3 xl:w-1/2 px-3">
        {{ content }}
      </div>

    </div>

    <nav class="header border-b bg-white fixed w-full justify-center flex" style="top: 0;">
      <div class="flex items-center justify-center flex-wrap py-4 w-full lg:w-2/3 xl:w-1/2 px-3">
        <a
          class="flex items-center flex-1"
          href="/"
        >
          <!-- <img src="{{site.baseurl}}/assets/profile.webp" class="h-12 w-12 rounded-full mr-3"/> -->
          <span class="font-normal">Oscar Franco</span>
        </a>
        <a
          class="text-blue-500 rounded px-4"
          href="https://twitter.com/ospfranco"
        >
          Twitter
        </a>
        <a
          class="text-blue-500 rounded px-4"
          href="https://github.com/ospfranco"
        >
          Github
        </a>
        <a
          class="text-blue-500 rounded px-4"
          href="/aboutMe"
        >
          About
        </a>
      </div>
    </nav>

  </body>
</html>
