<head>
  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{site.baseurl}}/assets/favicon.ico"
  />
  <meta name="twitter:image" content="{{site.baseurl}}/assets/oscar.jpg" />
  {% seo %}
  <link rel="stylesheet" href="/css/site.css" />
</head>

<html>
  {{ content }}
</html>
