---
layout: default
---
<div class="py-12 px-4">
  <h1 class="font-semibold text-2xl text-center">{{ page.title }}</h1>
  <div class="text-gray-500 text-center">
    {{ page.date | date: "%B %Y" }}
  </div>
  
  <div class="markdown mt-6">
    {{ content }}
  </div>
</div>

<div class="border-t border-gray-200" ></div>

<div class="px-4 pt-20">
  <div class="text-6xl font-medium">I'm Oscar Franco;</div>
  <div class="text-4xl font-medium text-gray-500 pt-4">I do open source and lead development teams, I live in <span class="text-blue-400">Munich 🥨</span>, feel free to contact me!</div>
</div>

{% include projects.html %}