---
layout: default
---

<div class="w-full md:w-600 px-6 md:px-0">
  <img
    src="{{site.baseurl}}/assets/profile.jpeg"
    class="h-56 w-full object-cover mt-20 mb-12 rounded-lg"
  />
</div>

<div class="flex-1 w-full">
  <div class="w-full md:w-768 my-10 flex flex-col px-6 md:px-0">
    <h1 class="font-semibold text-xl md:text-2xl">{{ page.title }}</h1>
    <div class="text-gray-500 dark:text-coolGray-400 text-sm">
      {{ page.date | date: "%B %Y" }}
    </div>
  </div>

  <div class="markdown w-full px-6 md:px-0 md:w-600">{{ content }}</div>

  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/darcula.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>

  <script>
    hljs.initHighlightingOnLoad();
  </script>

  <div class="mt-20">
    <a href="/" class="tracking-wide font-medium text-sm px-6 md:px-0">
      ← Homepage
    </a>
  </div>
</div>
